body{padding: 0;
margin: 0;
background-color: #f9f3f3;

}
.carousel img{height: 500px;border-bottom:groove;}
.carousel-item h4,p{font-weight: bold;color:white}
.container-fluid a{font-weight: bold;color:#01c5c4;text-decoration: none}



.form{height: 470px; width: 480px;
border: 2px solid white;
justify-content: center;background-color: #f4f9f9;
text-align:right; box-shadow:  4px 4px 6px 5px rgba(0,0,0,0.2);
margin: auto; }

.form .input input{margin-bottom: 20px;margin-top: 12px;text-align: center;}
.form .inpu{margin-bottom: 25px;margin-top: 12px;text-align: center;}
input{width: 470px;direction: rtl;height: 40px;border-radius: 7px}

label{font-size: 19px; color: #555;font-weight: bold;text-align:right;}
.finaly{height: 105px;width: 100%;text-align: center;background-color:#03506f;;opacity: 0.8;
justify-content: center;display: flex;color:white}
.finaly h4{margin-top: 30px;color:white;text-shadow: 3px  3px 3px #03506f;}
.bg-dark {
    background-color: #a3cad2;
}
